= form_with model: @user do |form|
  .container.input-group
    .form-group.w-50
      = render partial: "shared/form_text_field", locals: { name: :first_name, form: }
    .form-group.w-50
      = render partial: "shared/form_text_field", locals: { name: :second_name, form: }
  .container.form-group
    = render partial: "shared/form_text_field", locals: { name: :email, form: }
  .container.form-group
    = form.label :image, "Upload Image", class: "form-label"
    = form.file_field :image, class: "form-control"
    - @user.errors.full_messages_for(:image).each do |message|
      .container.form-text.text-muted
        = message
  .container.form-group.mt-3
    = form.submit