= form_with model: @user do |form|
  .div 
    = form.label :first_name
    = form.text_field :first_name
    = @user.errors.full_messages_for(:first_name).each do |message|
      .div
        = message
  .div 
    = form.label :second_name
    = form.text_field :second_name
    = @user.errors.full_messages_for(:second_name).each do |message|
      .div
        = message
  .div 
    = form.label :email
    = form.text_field :email
    = @user.errors.full_messages_for(:email).each do |message|
      .div
        = message
  .div 
    = form.label :image, "Upload Image"
    = form.file_field :image
    = @user.errors.full_messages_for(:image).each do |message|
      .div
        = message
  .div
    = form.submit