%h2
  This is #{@user.first_name}'s page

= link_to "Edit", edit_user_path(@user)

= link_to "Destroy", user_path(@user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }

%h3
  Add a post:

= form_with model: [ @user, @user.posts.build ] do |form|
  .div
    = form.label :body
    = form.text_field :body

  .div
    = form.submit

%h3
  Posts:

- @user.posts.each do |post|
  %p
    = post.body
