%h2
  This is #{@user.first_name}'s page

%p
  = image_tag(url_for(@user.image), width: 150)

%ul
  %li 
    = link_to "Edit", edit_user_path(@user)

  %li 
    = link_to "Delete", user_path(@user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }

= render "posts/form", user: @user

%h3
  Posts:

= render @user.posts unless @user.posts.empty?
