%h2
  This is #{@user.first_name}'s page

%ul
  %li 
    = link_to "Edit", edit_user_path(@user)

  %li 
    = link_to "Delete", user_path(@user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }

= render "posts/form", user: @user

%h3
  Posts:

- @user.posts.each do |post|
  %p
    = post.body
